{% extends 'base.html' %}

{% block title %}Raw Materials{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="../static/styles/raw_material.css">
{% endblock %}
{% block content %}
<!-- Main Content -->
<main class="col-md-10">
    <div class="d-flex justify-content-center">
        <div class="raw_material-container">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2 class="text-primary">Raw Materials</h2>
                <button class="btn btn-primary">+ Add raw_material</button>
            </div>
            <div class="search-section mb-4">
                <input type="text" class="form-control search-box" placeholder="Quick search">
                <button class="btn btn-outline-secondary">Status</button>
            </div>

            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Raw Material ID</th>
                        <th scope="col">Raw Material</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Supplier</th>
                        <th>Actions</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for raw_material in raw_materials %}
                    <tr>
                        <td>{{ raw_material.id }}</td>
                        <td>{{ raw_material.material_name }}</td>
                        <td>{{ raw_material.quantity }}</td>
                        <td>{{ raw_material.unit_price }}</td>
                        <td>{{ raw_material.supplier_id}}</td>
                        {% if raw_material.quantity == 0 %}
                            <td>Completed</td>
                        {% else %}
                            <td>Present</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <td>
                        <button class="btn btn-warning btn-sm">Edit</button>
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}