<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ResourceGuard - {% block title %} {% endblock %}</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../static/styles/base.css" rel="stylesheet">
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <!-- Header -->
                <header class="header col-12 d-flex justify-content-between align-items-center">
                    <div class="logo">
                        <img src="../static/images/logo.jpeg" alt="Logo">
                    </div>
                    <form class="search-bar" role="search">
                        <input type="search" id="search-input" class="form-control search-input" placeholder="Search products, Raw Materials">
                    </form>
                    <div class="user-actions d-flex">
                        <img src="../static/images/tof.jpg" alt="User" class="user-avatar">
                    </div>
                </header>
            </div>
            <div class="row">
                <!-- Sidebar -->
                <nav class="sidebar col-md-2 d-flex flex-column">
                    <a href="home.html" class="nav-item">
                        <img src="../static/images/Dashboard.png" alt="Home icon" class="nav-icon">
                        <span>Dashboard</span>
                    </a>
                    <a href="product.html" class="nav-item">
                        <img src="../static/images/products.png" alt="Products icon" class="nav-icon">
                        <span>Products</span>
                    </a>
                    <a href="raw_material.html" class="nav-item">
                        <img src="../static/images/raw_materials.png" alt="Raw Materials icon" class="nav-icon-small">
                        <span>Raw Materials</span>
                    </a>
                    <a href="transaction.html" class="nav-item">
                        <img src="../static/images/transaction.png"Transactions icon" class="nav-icon-small">
                        <span>Transactions</span>
                    </a>
                    <a href="inventory.html" class="nav-item">
                        <img src="../static/images/Home.png" alt="Inventory icon" class="nav-icon">
                        <span>Inventory</span>
                    </a>
                    <a href="employe.html" class="nav-item">
                        <img src="../static/images/employee.png" alt="Employees icon" class="nav-icon">
                        <span>Employees</span>
                    </a>
                    <a href="#" class="nav-item">
                        <img src="../static/images/setting.png" alt="Settings icon" class="nav-icon">
                        <span>Settings</span>
                    </a>
                </nav>
                <!-- Main Content -->
                {% block content %}
                {% endblock %} 
                <!-- Bootstrap JS -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
